/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bxslider
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;
}

.parallax {
    /* The image used */
    background-image: url("/images/bg.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.apex-dn {
    width: 0px;
	height: 0px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 30px solid #fff;
	margin: 0 auto;
}

#bottom-promo .bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: none;
    background: rgba(0,0,0,0.5);
    width: 50%;
    top: 35%;
    padding: 20px;
}
#bottom-promo .bxslider li p {
    font-size: 20px;
    line-height: 26px;
    color:  #fff;
}
#bottom-promo .bxslider li .author {
    font-size: 20px;
    line-height: 26px;
    font-style: italic;
    font-weight: bold;
    color:  #a6a6a6;
}

.btn.full-width{
	width: 100%;
}

#error_explanation {
    width: 100%;
    border: 2px solid #d9d9d9;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
.field_with_errors {
    padding: 0;
    background-color: transparent;
    display: block;
}
.field_with_errors input{
    border: 1px solid red;
}