<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#promo .bxslider').bxSlider({
      auto:  true,
      adaptiveHeight: false
    });
    $('#bottom-promo .bxslider').bxSlider({
      auto:  true,
      controls: false,
      pager: false,
      pause: 6000,
      adaptiveHeight: true
    });
  });
  </script>
</html>
